* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial';
    font-size: calc(14px + (26 - 14) * ((80vw - 300px) / (1600 - 300)));
    min-width: 320px;
    text-align: left;
    /* margin: 0; */
}
#index, #about, #projects, #skills, #contact {
    height:auto;
    /* Set a min height to each page for scrolling */
    min-height: 100vh; 
    /* Set display / flex-direction to account for pages longer than min-height  */
    display: flex;
    flex-direction: column;
}

/* ***** NAVBAR ***** */
.col-md-8 {
    display: inline-block;
}
.navbar-header {
    align-content: center;
    position: fixed;
    top: 0px;
}
.btn-large {
    width: 100%;
    height: 55px;
    margin-bottom: 5px;
    background-color: lightgray;
    text-align: left;
}
.btn-large i {
    text-decoration: none;
}
.nav-logo {
    text-align: center;
    border-bottom: 1px solid darkslateblue;
    margin-bottom: 30px;
}
.nav-logo h3 {
    color: #565dc7;
    font-weight: lighter;
    margin-top: 20px;
    text-decoration: none;
}
/* ul */
.nav-list {
    display: inline-block;
    position: fixed;
    background-color: #f1f1f1;
}
.nav li { 
    width: 90%;
    margin-left: 5%;
}
.nav li a {
    display: block;
    color: white;
    text-decoration: none;
}
.nav li a:hover:not(.active) {
    color: white;
}
/* On smaller screens, where width is less than 767px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 767px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 14px;}
    .nav-list {position: relative}
}
#about-icon {
    color: blue;
}
#projects-icon {
    color: green;
}
#skills-icon {  
    color: darkviolet;
}
#contact-icon {
    color: darkred;
}
#resume-icon {
    color: darkslateblue;
}

/* ***** EACH PAGE ***** */
.page-name {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
    padding: 20px;
    width: 100%;
    max-height: 160px;
    text-align: left;
    margin-bottom: 10px;
    /* viewport width text size */
    font-size:6vw;  
    font-weight: normal;
    padding: 20px;
    color: white;
    background: #4a50aa;
    /* font-display: auto; */
}
.page-section {
    margin: 20px 30px 20px;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 1px;
}
.page-section h4 {
    margin-left: 20px;
    color: darkorange;
}

/* ***** INDEX PAGE ***** */
#profile-pic {
    top: 0px;
    margin-bottom: 40px;
    /* display: inline-block; */
    /* margin: auto 0; */
    /* margin-bottom: 30px;
    width: 100%;
    top: 0px;
    position: relative; */
}

/* ***** ABOUT PAGE ***** */
.about-block {
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 25px;
    margin: 20px;
    /* padding-top: 10px;
    padding-left: 20px; */
    background-color: lightgray;
    /* margin: 20px, 10px, 0px, 10px; */
    border: 2px solid darkorange;
}

/* ***** PROJECTS PAGE ***** */
#projects {
    margin-bottom: 10px;
}
.work {
    position: relative;
    float: left;
    width: 274px;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: auto;
}
.work img {
    display: inline-block;
    width: 100%;
    height: auto;
    border: 0 none;
    opacity: 0.8;
    border: 2px solid black;
}
.work h3 {
    position: absolute;
    font-size: 15px;
    bottom: 30px;
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
    font-weight: 100;
    line-height: 10px;
    color: #fff;
    text-align: center;
    background: #4a50aa;
    /* border-bottom: 0; */
    border-top: solid coral;
    border-bottom: solid coral;
    padding-right: 10px;
}

/* Project Image Buttons */
.work .btn-group button {
    background-color: darkgray;
    border: 2px solid black;
    color: white; /* White text */
    /* padding: 10px 24px; */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-size: 14px;
}
.work .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.work .btn-group a:active {
    text-decoration: none;
    color: white;
}
/* Clear floats (clearfix hack) */
.work .btn-group:after {
    content: "";
    clear: both;
    display: table;
}
/* Add a background color on hover */
.work .btn-group button:hover {
    color: white;
    background-color: rgb(40, 179, 179);
    text-decoration: none;
}
.work .btn-group a:hover {
    text-decoration: none;
}

/* ***** SKILLS PAGE ***** */
.skill-block {
    padding-top: 10px;
    padding-left: 20px;
    background-color: lightgray;
    margin: 20px;
    border: 2px solid darkorange;
}
.skill-block li {
    text-indent: 20px;
    color: black;
    font-size: 16px;
}
.skill-block h4 {
    color: darkorange;
    margin-left: 20px;
}

/* ***** CONNECT PAGE ***** */
.connect {
    margin: 20px;
}