/* body */
body {
    color: #333;
    font-size: 16px;
}

body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}


/* my background picture */
main { 
    background: url(../../static/img/bg.png) repeat;
    padding-left: 190px;
}


/* nav */
nav {
    background: white;
    box-shadow: none;
    height: 0;
}
@media only screen and (min-width: 601px) {
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
    }
}
nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, ul.side-nav {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}


/* ul */
ul.side-nav.fixed {
    left: 0;
    position: fixed;
}
ul.table-of-contents.fixed {
    position: fixed;
}
ul.side-nav {
    width: 190px;
}
ul.side-nav {
    position: fixed;
    width: 240px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    padding-bottom: 60px;
    background-color: #FFF;
    z-index: 999;
    will-change: left;
}

.section {
    padding-bottom: 30px;
    padding-top: 0;
    position: relative;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav ul {
    margin: 0;
}
ul {
    padding: 0;
}
ul {
    list-style-type: none;
}

user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


/* li */
ul.side-nav.fixed li.logo {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    min-height: 90px;
    padding: 30px 30px 40px;
}
ul.side-nav li {
    padding: 0;
}
ul.side-nav li {
    float: none;
    padding: 0 15px;
}
ul.table-of-contents li {
    padding: 2px 0;
}
nav ul li {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    float: left;
    padding: 0px;
}

ul li {
    list-style-type: none;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* a */
ul.side-nav.fixed a {
    box-sizing: content-box;
    color: #444;
    display: block;
    line-height: 100%;
    padding: 10px 0 12px;
}
ul.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: #444;
}
ul.side-nav a {
    color: #444;
}
ul.table-of-contents a {
    display: inline-block;
    font-weight: 300;
    color: #757575;
    padding-left: 20px;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.4;
    display: inline-block;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity,transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.brown-text {
    color: #795548 !important;
}
nav ul a {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    padding: 0px 15px;
}
nav a {
    color: #fff;
}

a {
    color: #009688;
}
a {
    text-decoration: none;
}
a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a {
    background-color: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


/* sections */
#intro.section .container {
    color: white;
    font-weight: 200;
    left: 0;
    position: absolute;
    top: 0;
}
.container {
    width: 95%;
}
@media only screen and (min-width: 993px) {
.container {
    width: 70%;
    }
}
@media only screen and (min-width: 601px) {
.container {
    width: 85%;
    }
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}


#intro.section .container *:not(span) {
    font-weight: 300;
    line-height: 150%;
    padding: 0 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
h2 {
    font-size: 3.56rem;
    line-height: 3.916rem;
    margin: 1.78rem 0 1.424rem 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 1.2rem;
}
