* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial';
    font-size: calc(14px + (26 - 14) * ((80vw - 300px) / (1600 - 300)));
    min-width: 320px;
    text-align: left;
}
/* general */
.btn {
    width: 150px;
    color: rgba(0, 0, 0, 0.685);
}

.btn-toolbar {
    text-align: right;
}

.btn-group {
    margin-bottom: 10px;
    text-align: center;
    /* width: inherit; */
    /* display: inline-block; */
} 

#my-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    /* height: 100%; */
    font-size: 32px;
    padding: 20px;
    /* margin-bottom: 10px; */
    color: green;
    background: white;
}
#job-title {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    /* padding: 20px; */
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.685);
    background: white;
}

/* Navigation icons */
#about-icon {
    color: green;
    text-align: left;
}
#projects-icon {
    color: blue;
}
#skills-icon {  
    color: purple;
}
#contact-icon {
    color: brown
}
#resume-icon {
    color: red;
}

.navigation {
    display: inline-block;
}
.container {
    display: inline-block;
}
#nav-group {
    display: inline-block;
    text-align: center;
    max-width: 200px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* Each Page */
#page-name {
    /* display: inline-block; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
    padding: 20px;
    width: 100%;
    max-height: 160px;
    text-align: left;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    /* viewport width text size */
    font-size:6vw;  
    font-weight: normal;

    padding: 20px;
    color: white;
    background: green;
    /* font-display: auto; */
}
.page-section {
    margin: 20px 10px 10px 20px;
    /* font-size: 24px; */
    text-align: left;
    line-height: 1.6;
    letter-spacing: 2px;
}

/* Projects Page */
.work {
    position: relative;
    float: left;
    width: 274px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* margin: 20px 0 25px; */
    overflow: auto;
}
/* .work:nth-child(even) {
    margin: 40px;
} */
.work img {
    width: 100%;
    height: auto;
    border: 0 none;
    opacity: 0.8;
    border-width: 20px;
    border-color: orangered;
}
.work h3 {
    position: absolute;
    font-size: 15px;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 100;
    line-height: 10px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}
h3 {
    color: green;
    font-weight: 600;
}
.connect {
    height: 100px;
    margin: 20px;
}
